body{
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    padding-top: -10pv;
}

form{
    background: #ffffff;
    border-radius: 20px;
}

.form-container{
    padding: 30px;
    margin-top: 25%;
}

.form-control{
    border-radius: 50px;
    margin-top: 25px;
}

.btn{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background-color: #2691d9;
    color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 50px;
}

.btn:hover{
    background-color: #ffffff;
    border: 1px solid;
    color: #2691d9;
}

.pendaftaran{
    text-align: center;
    margin-bottom: 5%;
}